# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Data files (too large for GitHub)
data/raw/*.csv
data/cleaned/*.csv
data/star_schema/*.csv

# Power BI temp files
*.pbix.tmp
**/.pbi/
powerbi_dashboard/tools/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Local-only Documentation
docs/
